<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7d47b110-ab01-4b18-92b7-ace5e9e9f28f/resourceGroups/black-room/providers/Microsoft.Web/sites/BlackNeuron</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://blackneuron.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>blackneuron.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BlackNeuron</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BlackNeuron</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>